{
  "presets": ["next/babel"],
  "plugins": [
    ["inline-react-svg", {
        "svgo": {
          "plugins": [
            {
              "name": "collapseGroups",
              "active": false
            },
            {
              "name": "cleanupIDs",
              "active": false
            }
          ]
        }
      }
    ],
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@svgs": "./svgs"
      }
    }]
  ]
}