{
  "presets": ["next/babel"],
  "plugins": [
    ["inline-react-svg", {
        "svgo": {
          "plugins": [
          ]
        }
      }
    ],
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@svgs": "./svgs"
      }
    }]
  ]
}