.Page-animation__fade-enter {
  opacity: 0;
}
.Page-animation__fade-enter-active {
  opacity: 1;
  transition: opacity 0.3s ease-in-out .2s;
}
.Page-animation__fade-exit {
  opacity: 1;
}
.Page-animation__fade-exit-active {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}