:root {
  --blue: rgb(40, 80, 235);
  --yellow: #ffc800;
  --black-rgb: 0, 0, 0;
  // whites
  --white-tint: rgb(250, 251, 252); // can be replaced with neutrals 0
  --white-tint-60: rgba(250, 251, 252, 0.6);
  // grey
  --grey-800: #1e2225;

  /**
   * Neutrals
   */
  --neutrals-0-rgb: 250, 251, 252;
  --neutrals-0: rgb(var(--neutrals-0-rgb));
  --neutrals-50: rgb(245, 248, 250);
  --neutrals-100: rgb(233, 236, 238);
  --neutrals-150: rgb(221, 224, 226);
  --neutrals-200: rgb(209, 212, 214);
  --neutrals-250: rgb(197, 200, 203);
  --neutrals-300: rgb(185, 189, 191);
  --neutrals-350: rgb(173, 177, 179);
  --neutrals-400: rgb(161, 165, 167);
  --neutrals-450: rgb(149, 153, 155);
  --neutrals-500: rgb(137, 141, 143);
  --neutrals-550: rgb(126, 129, 132);
  --neutrals-600: rgb(114, 117, 120);
  --neutrals-650: rgb(102, 105, 108);
  --neutrals-700: rgb(90, 93, 96);
  --neutrals-750: rgb(78, 82, 84);
  --neutrals-800: rgb(66, 70, 73);
  --neutrals-850: rgb(54, 58, 61);
  --neutrals-900: rgb(42, 46, 49);
  --neutrals-950: rgb(30, 34, 37);
  --neutrals-1000-rgb: 18, 22, 25;
  --neutrals-1000: rgb(--neutrals-1000-rgb);
}
