/* ====================================
    GRID
==================================== */
.Grid {
  --grid-column-gap: 12px;
  --grid-margin: 12px;
  --grid-columns: 6;
  --grid-column-width: 1fr;
  @media (min-width: 768px) {
    --grid-column-gap: 24px;
    --grid-margin: 24px;
    --grid-columns: 12;
  }
  @media (min-width: 1024px) {
    --grid-column-gap: 32px;
    --grid-margin: 32px;
    --grid-columns: 12;
  }
  @media (min-width: 1280px) {
    --grid-column-gap: 48px;
    --grid-margin: 48px;
    --grid-columns: 12;
  }
  @media (min-width: 1600px) {
    --grid-column-gap: 48px;
    --grid-columns: 12;
    --grid-column-width: minmax(auto, 74px);
    --grid-margin: auto;
  }
  // grid
  display: grid;
  grid-row-gap: 0;
  grid-template-rows: auto;
  grid-auto-rows: min-content;
  // mobile columns
  grid-column-gap: var(--grid-column-gap);
  grid-template-columns:
    [margin-left full-bleed-start]
    var(--grid-margin)
    [columns-start]
    repeat(var(--grid-columns), [column] var(--grid-column-width))
    [column columns-end margin-right]
    var(--grid-margin)
    [full-bleed-end];
}
