/* ====================================
    CSS RESET
==================================== */
html,
body,
p,
ol,
ul,
li,
blockquote,
figure,
menu,
pre,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
html,
div {
  box-sizing: border-box;
}
img,
video {
  height: 100%;
  max-width: 100%;
  vertical-align: top; /* removes margin below */
}
a,
a:active,
a:focus {
  color: inherit;
  transition: color .3s ease;
}
a:hover {
  text-decoration: none;
}
/* ====================================
  GENERAL
==================================== */
html {
  font-size: 62.5%; /* sets 1rem = 10px */
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;

  /* ====================================
       Text Settings
  ==================================== */

  /* Anitalising for Safari, Chrome and firefox */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* enables common ligatures and kerning */
  text-rendering: optimizeLegibility;

  /*
  to get special ligatures like ct, st, or it

  font-variant-ligatures: discretionary-ligatures;
  -ms-font-feature-settings:"liga", "dlig";
  -o-font-feature-settings:"liga", "dlig";
  -webkit-font-feature-settings:"liga", "dlig";
  font-feature-settings:"liga", "dlig";
  */
  background-color: rgb(40, 80, 235) !important; // visible when over-pulling

  /* ====================================
      Base css varibales
  ==================================== */
  --column-gap: 48px;
}