@import './core.colors.scss';

body.light-mode,
[lightmode] {
  // background colors
  --background: #fdfeff;
  --surface: #fdfeff;
  --surface-variant: #f3f4f5;
  --surface-alternative: #030506;
  --accent: var(--yellow);
  // UI Colors
  --ui--low-contrast: #f3f4f5;
  --ui--fair-contrast: #e9eaeb;
  --ui--medium-contrast: #d5d6d7;
  --ui--high-contrast: #c1c2c3;
  // functional colors
  --interaction: var(--blue);
  --link: var(--interaction);
  // on colors
  --on-background__highest-emphasis: rgba(var(--neutrals-1000-rgb), 1);
  --on-background__high-emphasis: rgba(var(--neutrals-1000-rgb), 0.88);
  --on-background__medium-emphasis: rgba(var(--neutrals-1000-rgb), 0.66);
  --on-background__low-emphasis: rgba(var(--neutrals-1000-rgb), 0.44);
  // on colors
  --on-surface__high-emphasis: rgba(var(--neutrals-1000-rgb), 0.88);
  --on-surface__medium-emphasis: rgba(var(--neutrals-1000-rgb), 0.66);
  --on-surface__low-emphasis: rgba(var(--neutrals-1000-rgb), 0.44);
  // on suface alternative
  --on-surface-alternative__high-emphasis: rgba(var(--neutrals-0-rgb), 0.88);
  --on-surface-alternative__medium-emphasis: rgba(var(--neutrals-0-rgb), 0.66);
  --on-surface-alternative__low-emphasis: rgba(var(--neutrals-0-rgb), 0.44);
  // on dark
  --on-dark__highest-emphasis: rgba(var(--neutrals-0-rgb), 1);
  --on-dark__high-emphasis: rgba(var(--neutrals-0-rgb), 0.8);
  --on-dark__medium-emphasis: rgba(var(--neutrals-0-rgb), 0.55);
  --on-dark__low-emphasis: rgba(var(--neutrals-0-rgb), 0.47);



  /** ----------------
  / Custom component tokens
  */
  --intro__background: #f6f5f3;
  --project-default-tint: #c2e8e3;
  --lab1886-project-color: #ebe5d2;
  --copra-project-color: #f1dada;
  --design-tokens-project-color: #fccf2b;
}
