@import './core.colors.scss';

body.light-mode, [lightmode] {
  // background colors
  --background: #FDFEFF;
  --surface: #FDFEFF;
  --surface-variant: #F3F4F5;
  --surface-alternative: #030506;
  --accent: var(--yellow);
  // UI Colors
  --ui--low-contrast: #F3F4F5;
  --ui--fair-contrast: #E9EAEB;
  --ui--medium-contrast: #D5D6D7;
  --ui--high-contrast: #C1C2C3;  
  // on colors
  --on-background__high-emphasis: rgba(var(--neutrals-1000-rgb), .88);
  --on-background__medium-emphasis: rgba(var(--neutrals-1000-rgb), .66);
  --on-background__low-emphasis: rgba(var(--neutrals-1000-rgb), .44);
  // on colors
  --on-surface__high-emphasis: rgba(var(--neutrals-1000-rgb), .88);
  --on-surface__medium-emphasis: rgba(var(--neutrals-1000-rgb), .66);
  --on-surface__low-emphasis: rgba(var(--neutrals-1000-rgb), .44);
  /** ----------------
  / Custom component tokens
  */
  --intro__background: #f6f5f3;
}