@import './core.colors.scss';

body.dark-mode, [darkmode] {
  // background colors
  --background: #030506;
  --surface: #0D0F11;
  --surface-variant: #141617;
  --surface-alternative: #FDFEFF;
  --accent: var(--yellow);
  // UI Colors
  --ui--low-contrast: #141617;
  --ui--fair-contrast: #1E2021;
  --ui--medium-contrast: #323435;
  --ui--high-contrast: #464849;
  // on colors
  --on-background__high-emphasis: rgba(var(--neutrals-0-rgb), .85);
  --on-background__medium-emphasis: rgba(var(--neutrals-0-rgb), .60);
  --on-background__low-emphasis: rgba(var(--neutrals-0-rgb), .50);
  // on colors
  --on-surface__high-emphasis: rgba(var(--neutrals-0-rgb), .85);
  --on-surface__medium-emphasis: rgba(var(--neutrals-0-rgb), .60);
  --on-surface__low-emphasis: rgba(var(--neutrals-0-rgb), .50);
  /** ----------------
  / Custom component tokens
  */
  --intro__background: var(--surface);
}