@import '../mixins/_devicesizes.scss';
:root {
  /* ====================================
      Type Scale
  ==================================== */
  // xs
  --ts-size-xs: 1.3rem;
  --ts-line-height-xs: 1.4;
  // sm
  --ts-size-sm: 1.6rem;
  --ts-line-height-sm: 1.5;
  // md
  --ts-size-md: 2rem;
  --ts-line-height-md: 1.55;
  // lg
  --ts-size-lg: 2.5rem;
  --ts-line-height-lg: 1.35;
  // xl
  --ts-size-xl: 3.1rem;
  --ts-line-height-xl: 1.35;
  // xxl
  --ts-size-xxl: 3.9rem;
  --ts-line-height-xxl: 1.2;
  // hg
  --ts-size-hg: 4.9rem;
  --ts-line-height-hg: 1.1;
  // xh
  --ts-size-xh: 6.1rem;
  --ts-line-height-xh: 1.1;
  // xh
  --ts-size-title: 7.2rem;
  --ts-line-height-title: 1.1;
  /* ====================================
    Font families
  ==================================== */
  // Sans Serif
  --font-sans: 'Source Sans Pro', helvetica, sans-serif;
  // weights
  --font-sans-weight-regular: 400;
  --font-sans-weight-bold: 600;
  // styles
  --font-sans-style-normal: normal;
  --font-sans-style-italic: italic;
  // ====================================
  // Serif
  --font-serif: 'Noto Serif', georgia, serif;
  // weights
  --font-serif-weight-regular: 400;
  --font-serif-weight-bold: 700;
  // styles
  --font-serif-style-normal: normal;
  --font-serif-style-italic: italic;
  // ====================================
  // Monospace
  --font-mono: 'Source Code Pro', monospace;
  // weights
  // --font-mono-weight-regular: 400;
  --font-mono-weight-bold: 700;
  // styles
  --font-mono-style-normal: normal;
  --font-mono-style-italic: italic;
  // ====================================
  //
  // Typestyles
  //
  // body small
  --typestyle__body-small--size: var(--ts-size-sm);
  --typestyle__body-small--lineheight: calc(var(--ts-size-sm) * var(--ts-size-sm));
  --typestyle__body-small--family: var(--font-sans);
  --typestyle__body-small--style: var(--font-sans-style-normal);
  --typestyle__body-small--weight: var(--font-sans-weight-regular);
  // body small
  --typestyle__h6--size: var(--ts-size-sm);
  --typestyle__h6--lineheight: calc(var(--ts-size-sm) * var(--ts-size-sm));
  @include at_least(desktop) {
    --typestyle__h6--size: var(--ts-size-xs);
    --typestyle__h6--lineheight: calc(var(--ts-size-xs) * var(--ts-size-xs));
  }
  --typestyle__h6--family: var(--font-mono);
  --typestyle__h6--style: var(--font-mono-style-normal);
  --typestyle__h6--weight: var(--font-mono-weight-bold);
}