/* ====================================
    Animation Mixins
==================================== */
@mixin underlineFill ($color: #fff, $inactiveColor: null, $height: 2px, $finalHeight: 100%) {
  @if $inactiveColor == null {
    $inactiveColor: $color;
  }
  position: relative;
  z-index: 0;
  transition: color .3s ease;
  text-decoration: none;
  display: inline-block;
  &::before {
    background-color: $inactiveColor;
    height: $height;
    content: "";
    z-index: -1;
    display: inline-block;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: -2px;
    width: calc(100% + 4px);
    transition: height .3s ease, background .3s ease;
    vertical-align: bottom;
  }
  &:hover {
    text-decoration: none;
    &::before {
      background-color: $color;
      height: $finalHeight;
    }
  }
}

@keyframes slideOverFromLeftIn {
  0% {
    left: calc(-1 * var(--animation-overflow));
    right: auto;
    width: 0;
  }
  100% {
    left: calc(-1 * var(--animation-overflow));
    right: auto;
    width: calc(100% + 2 * var(--animation-overflow));
  }
}
@keyframes slideOverFromLeftOut {
  0% {
    left: auto;
    right: calc(-1 * var(--animation-overflow));
    width: calc(100% + 2 * var(--animation-overflow));
  }
  100% {
    left: auto;
    right: calc(-1 * var(--animation-overflow));
    width: 0;
  }
}
@keyframes slideFromCenterIn {
  0% {
    width: 0;
  }
  100% {
    left: calc(-1 * var(--animation-overflow));
    right: auto;
    width: calc(100% + 2 * var(--animation-overflow));
  }
}

@mixin fillSide ($color: #fff, $height: 100%, $overflow: 2px) {
  @if $overflow == 0 {
    $overflow: calc(0 * 1px);
  }
  --animation-overflow: #{$overflow};
  position: relative;
  z-index: 0;
  transition: color .3s ease;
  text-decoration: none;
  display: inline-block;
  &::before {
    background-color: $color;
    height: $height;
    content: "";
    z-index: -1;
    display: inline-block;
    position: absolute;
    overflow: hidden;
    bottom: var(--fill-animation-bottom, 0);
    left: -#{$overflow}px;
    width: 0;
    vertical-align: bottom;
    animation-duration: .3s;
    animation-name: slideOverFromLeftOut;
    animation-fill-mode: forwards;
  }
  &:hover {
    text-decoration: none;
    &::before {
      background-color: $color;
      animation-duration: .3s;
      animation-name: slideOverFromLeftIn;
      animation-fill-mode: forwards;
    }
  }
}
@mixin fillFromCenter ($color: #fff, $height: 100%, $overflow: 2px) {
  @if $overflow == 0 {
    $overflow: calc(0 * 1px);
  }
  --animation-overflow: #{$overflow};
  position: relative;
  z-index: 0;
  transition: color .3s ease;
  text-decoration: none;
  display: inline-block;
  &::before {
    background-color: $color;
    height: $height;
    content: "";
    z-index: -1;
    display: inline-block;
    position: absolute;
    overflow: hidden;
    bottom: var(--fill-animation-bottom, 0);
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    vertical-align: bottom;
    transition: width .3s ease;
  }
  &:hover {
    text-decoration: none;
    &::after {
      width: calc(100% + #{size(2)});
    }
  }
}
