---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Svg from "../components/Svg.astro";
import Talks from "../components/Talks.astro";
import WorkExperience from "../components/WorkExperience.astro";
import { getCollection } from "astro:content";
import svgTitleDefault from "../assets/svgs/about-lukas-oppermann.svg?raw";
import profilePicture from "../assets/images/lukasoppermann_profile_2x.jpg";
import Paragraph from "../components/Paragraph.astro";

// Fetch collections
const talks = await getCollection("talks");
const workExperience = await getCollection("work-experience");

// Sort talks by date (most recent first)
const sortedTalks = talks.sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);

// Sort work experience by start date (most recent first)
const sortedWorkExperience = workExperience.sort(
  (a, b) =>
    new Date(b.data.startDate).getTime() - new Date(a.data.startDate).getTime()
);
---

<style>
  .Header--about {
    --max-grid-rows: 7;
    margin-top: 64px;
    margin-bottom: 64px;
    grid-template-rows: max-content auto max-content;
    grid-column: full-bleed;
    /* ====================================
      Background
    ==================================== */
    & .Header__background {
      grid-row: 1 / var(--max-grid-rows);
      grid-column: columns;
      width: calc(100% + var(--grid-column-gap) * 2);
      height: 100%;
      margin-left: calc(-1 * var(--grid-column-gap));
      background-color: var(--neutrals-1000);
      z-index: 0;
    }
  }
  .profile-picture {
    vertical-align: bottom;
    mix-blend-mode: screen;
    mix-blend-mode: plus-lighter;
    grid-row: 1 / span 6;
    z-index: 100;
    height: auto;
    grid-column: columns;
    @media (--min-desktop) {
      grid-column: columns / span 6;
    }
  }
  :global(svg.svg-title) {
    grid-row: 4 / span 2;
    z-index: 200;
    grid-column: columns;
    max-width: 100%;
    fill: var(--neutrals-0) !important;
  }
  :global(.talks) {
    grid-column: columns;
    margin-top: 48px;
    @media (--min-desktop) {
      grid-column: 4 / 12;
    }
  }
  :global(.work-experience) {
    grid-column: columns;
    margin-top: 48px;
    @media (--min-desktop) {
      grid-column: 4 / 12;
    }
  }
  .main-content {
    grid-column: columns;
    grid-row: 2;
    @media (--min-desktop) {
      grid-row: 2;
      grid-column: 4 / 12;
    }
  }
</style>

<Layout
  title="About Lukas Oppermann — Design lead, systems designer and design token expert"
>
  <section class="Header--about Grid">
    <Svg svgString={svgTitleDefault} class="svg-title svg-about--default" />
    <Image
      class="profile-picture"
      alt="Lukas Oppermann — design system and design token expert, product desiger and design lead"
      src={profilePicture}
      width={590}
      height={600}
    />
    <div class="Header__background"></div>
  </section>
  <section class="main-content">
    <Paragraph type="intro">
      Hi, I’m Lukas, a lead product designer and creative technologist working
      on design systems.
    </Paragraph>

    <Paragraph type="default">
      I believe that a simple solution is often the best for a complex problem.
      However, anybody who works in design knows, that simple and easy are two
      very different things.
    </Paragraph>

    <Paragraph type="default">
      Solving problems is my passion. It’s what gets me up in the morning and
      keeps me up at night — nothing gets me more excited than working on
      something I’ve never done before.
    </Paragraph>
  </section>
  <!-- <Talks
    class="talks"
    items={sortedTalks}
    title="Speaking"
    moreLink="https://www.linkedin.com/in/lukasoppermann/"
  /> -->
  <WorkExperience
    class="work-experience"
    items={sortedWorkExperience}
    title="Work Experience"
    moreLink="https://www.linkedin.com/in/lukasoppermann/"
  />
</Layout>
