---
import Layout from "../layouts/Layout.astro";
import PostPreview from "../components/PostPreview.astro";
import { getCollection } from "astro:content";
import Svg from "../components/Svg.astro";
import svgTitleDefault from "../assets/svgs/thoughts-&-opinions.svg?raw";
import svgTitleStacked from "../assets/svgs/thoughts-&-opinions-stacked.svg?raw";

const allPosts = (await getCollection("articles")).sort(
  (a, b) =>
    new Date(b.data.published).getTime() - new Date(a.data.published).getTime()
);
---

<style>
  div {
    display: block;
    list-style: none;
    grid-column: columns;
    @media (--min-desktop) {
      grid-column: columns / span 6;
    }
    & :global(.post-preview) {
      margin-bottom: 32px;
      padding-bottom: 24px;
      border-bottom: 1px solid var(--ui--fair-contrast);
    }
  }
  :global(.svg-title) {
    padding-top: 120px;
    max-width: 100%;
    fill: var(--on-background__high-emphasis);
    &:global(.svg-title--default) {
      grid-column: columns / span 12;
      padding-bottom: 96px;
    }
    &:global(.svg-title--stacked) {
      display: none;
      grid-column: columns;
      padding-bottom: 56px;
    }
    @media (--max-mobile) {
      padding-top: 80px;
      &:global(.svg-title--default) {
        display: none;
      }
      &:global(.svg-title--stacked) {
        display: block;
      }
    }
  }
  .more-link-container {
    grid-column: columns;
  }
</style>

<Layout title="Thoughts & opinions — Lukas Oppermann">
  <Svg svgString={svgTitleDefault} class="svg-title svg-title--default" />
  <Svg svgString={svgTitleStacked} class="svg-title svg-title--stacked" />
  <div>
    {allPosts.map((post) => <PostPreview article={post.data} class="post-preview" />)}
  </div>
</Layout>
