---
import DateTime from "../DateTime.astro";
import Headline from "../Headline.astro";
import Link from "../Link.astro";
import Paragraph from "../Paragraph.astro";

---
<style>
  section {
    grid-column: full-bleed;
    align-items: start;
    position: relative;
    margin-bottom: 80px;
    margin-top: 32px;
    &::after {
      position: absolute;
      content: "";
      position: relative;
      grid-column: columns;
      height: 1px;
      background-color: var(--ui--fair-contrast);
      order: 10;
      margin-top: 32px;
    }
    /* -----------------------------
    * Inner Blocks
    * ----- */
    &> div {
      grid-column: columns;
      margin-top: 32px;
      position: relative;
      @media (--min-tablet) {
        &:is(.resume--intro) {
          grid-column-end: span 6;
          margin-bottom: 40px;
        }
        &:is(.resume--item) {
          grid-column-end: span 6;
        }
        &:nth-child(1 of .resume--item) {
          grid-row: 2;
          grid-column-start: column 1;
        }
        &:nth-child(2 of .resume--item) {
          grid-row: 2;
          grid-column-start: column 7;
        }
        &:nth-child(3 of .resume--item) {
          grid-row: 3;
          grid-column-start: column 1;
        }
        &:nth-child(4 of .resume--item) {
          grid-row: 3;
          grid-column-start: column 7;
        }
      }
      @media (--min-large) {
        &:is(.resume--item) {
          grid-column-end: span 3;
          grid-row: 2 !important;
        }
        &:nth-child(1 of .resume--item) {
          grid-column-end: span 3;
        }
        &:nth-child(2 of .resume--item) {
          grid-column-start: column 4;
        }
        &:nth-child(3 of .resume--item) {
          grid-column-start: column 7;
        }
        &:nth-child(4 of .resume--item) {
          grid-column-start: column 10;
        }
      }
      /* -----------------------------
      * Border left
      * ----- */
      @media (--min-large) {
        &:nth-child(2)::before {
          position: absolute;
          content: "";
          width: 1px;
          height: calc(100% + 16px);
          background-color: var(--ui--medium-contrast);
          top: 0;
          left: -16px;
        }
      }
      /* -----------------------------
      * Block content
      * ----- */
      & * {
        order: 0;
      }
      & .title--resume {
        display: none;
        @media (--min-tablet) {
          position: absolute;
          display: block;
          margin-top: -32px;
        }
      }
      &:nth-child(2) {
        & h4::before {
          position: absolute;
          content: "";
          width: 2px;
          height: 48px;
          background-color: var(--accent);
          top: 6px;
          left: -16px;
        }
      }
      & a {
        margin-top: 16px;
      }
    }
  }
</style>


<section class='Grid' role="main" aria-label="Resume">
  <div class="resume--intro">
    <Headline level="4" margin="none">Hello — I’m Lukas</Headline>
    <Headline level="5">Design Lead & creative technologist</Headline>
    <Paragraph type="small">I love solving problems by combining technology with the aesthetics &amp; human-centered psychology that is UI/UX design.</Paragraph>
  </div>
  <div class="resume--item">
    <Headline id="resumeTitle" class="title--resume" style="h6" aria-hidden="true">Resumé&hairsp;/&hairsp;recent</Headline>
    <Headline level="4" margin="none">GitHub</Headline>
    <Headline style="h5" role="group"><DateTime from="09.08.2022" to="now" toLabel="NOW" format="YYYY"/></Headline>
    <Paragraph type="small">Staff systems designer working on design tokens, components, tooling and Figma strategy for Primer.</Paragraph>
  </div>
  <div class="resume--item">
    <Headline level="4" margin="none">Deutsche Telekom</Headline>
    <Headline style="h5" role="group"><DateTime from="01.10.2021" to="08.08.2022" format="YYYY"/></Headline>
    <Paragraph type="small">Leading Scale — the Telekom design system, implementing a new multi-platform design system strategy including theming and working on the future of eCommerce at Deutsche Telekom.</Paragraph>
  </div>
  <div class="resume--item">
    <Headline level="4" margin="none">Bertelsmann / RTL+</Headline>
    <Headline style="h5" role="group"><DateTime from="01.09.2020" to="01.10.2021" format="YYYY"/></Headline>
    <Paragraph type="small">Invisioning the future digital media platform with a focus on personalised relevance. Building the RTL Design System from the ground up &amp; leading the design team.</Paragraph>
  </div>
  <div class="resume--item">
    <Headline level="4" margin="none">Daimler innovation lab</Headline>
    <Headline style="h5" role="group"><DateTime from="01.10.2017" to="01.09.2020" format="YYYY"/></Headline>
    <Paragraph type="small">Building out major innovation topics for the future of mobility for Daimler AG. Helping the design team grow &amp; develop.</Paragraph>
    <Link href="/about" rel="noopener noreferrer nofollow" target="_blank" icon={true}>Resume</Link>
  </div>
</section>