---
import type { HTMLAttributes } from 'astro/types'
import Icon from './Icon.astro';
import type { IconTypes } from './Icon.astro';

export interface Props extends HTMLAttributes<'button'> {
  style?: "button" | "ghost",
  icon?: false | true | IconTypes,
}

const { children, style, icon, type, class: className, ...attr } = Astro.props;
---

<style>
  button {
    position: relative;
    display: inline-flex;
    align-items: center;
    border-radius: 0px;
    border: 2px solid transparent;
    padding: 8px 16px;
    font: var(--typestyle__button);
    background: var(surface-alternative);
    color: var(--on-surface-alternative__high-emphasis);
    &.ghost {
      background: transparent;
      color: var(--on-background__high-emphasis);
      &::before {
        content: "";
        position: absolute;
        bottom: 0px; 
        left: 0;
        height: 2px;
        width: 0;
        background: var(--accent);
        transition: width 1.25s var(--easeOutQuint);
      }
      &:hover {
        cursor: pointer;
        &::before {
          width: 100%;
        }
      }
    }
  }
</style>

<button class:list={[style, className]} type={ type ?? `button`} {...attr}
><slot />{icon && <Icon type={icon !== true ? icon as IconTypes : "arrowRight"} />}</button>