---
import type { HTMLAttributes } from 'astro/types'
import LogoSvg from '../assets/svgs/lukas-oppermann-logo.svg?raw'
import Svg from './Svg.astro';

interface Props extends HTMLAttributes<'a'> {
  href?: string,
  small?: boolean,
  class?: string
}

const { href, small, class: className } = Astro.props;
---
<style>
  a, div {
    fill: var(--on-background__high-emphasis);
    display: block;
    height: 30px;
    &.is-small {
      height: 16px;
    }
    svg{
      height: 100%;
    }
  }
</style>

  {href ? 
    <a class:list={[(small && 'is-small'), className]} aria-label='Go to homepage' href={href}>
      <Svg class="svg-logo" svgString={LogoSvg} />
    </a>
  :
    <div class:list={[(small && 'is-small'), className]}>
      <Svg class="svg-logo" svgString={LogoSvg} />
    </div>
  }
