---
import type { HTMLAttributes } from 'astro/types'
import { importSvg } from '@src/utilities/importSvg'

interface Props extends HTMLAttributes<'a'> {
  href?: string,
  small?: boolean,
}

const { attributes: svgAttributes, innerHTML } = await importSvg(`../assets/svgs/lukas-oppermann-logo.svg`);

const { href, small, ...attr } = Astro.props;
---
<style>
  a, div {
    fill: var(--on-background__high-emphasis);
    display: block;
    height: 30px;
    &.is-small {
      height: 16px;
    }
    & svg {
      height: 100%;
    }
  }
</style>

  {href ? 
    <a class:list={[(small && 'is-small'), attr.class]} aria-label='Go to homepage' href={href} {...attr}>
      <svg
        {...svgAttributes}
        set:html={innerHTML}
      ></svg>
    </a>
  :
    <div class:list={[(small && 'is-small'), attr.class]}>
      <svg
        {...svgAttributes}
        set:html={innerHTML}
      ></svg>
    </div>
  }
