---
import type { HTMLAttributes } from 'astro/types'
export interface Props extends HTMLAttributes<'nav'> {}

const {...attr} = Astro.props;

const activePage = Astro.url.pathname.replace(/^\//, '')

import { email } from '../config';
const mailto = `mailto:${email.raw}?subject=Hey,%20what's up?&body=Great%20to%20hear%20from%20you,%20how%20can%20I%20help?`
---
<style>
  nav {
    --header-height: 64px;
    display: flex;
    justify-content: flex-end;
    a {
      position: relative;
      color: var(--on-background__high-emphasis);
      font-size: var(--font-size--default);
      font-weight: var(--font-weight--bold);
      text-transform: uppercase;
      letter-spacing: .2px;
      padding: 8px;
      margin-left: 8px;
      & span {
        transition: none;
      }
      &:after {
        content: "";
        display: inline;
        position: absolute;
        width: 4px;
        height: 4px;
        background: currentColor;
        border-radius: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        opacity: 0;
        transition: opacity .3s ease, bottom .3s ease, width .3s ease, background .3s ease;
        bottom: 8px;
      }
      &.is-active, &:hover {
        &:after {
          bottom: 0;
          opacity: 1;
        }
      }
    }
  }
  @media (--max-tablet) {
    nav {
      position: absolute;
      left: 0;
      top: 0;
      height: var(--mobile-menu-height, 100vh);
      transform: scaleY(0);
      width: 100vw;
      overflow: hidden;
      background: var(--background);
      transition: transform .25s ease .5s;
      transform-origin: top;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      a {
        font-weight: var(--font-serif-weight-regular);
        font-family: var(--font-serif);
        font-style: var(--font-serif-style-italic);
        font-size: 80px;
        text-transform: none;
        letter-spacing: .5px;
        opacity: 0;
        transform: translate(0, -25%);
        transition: opacity .5s ease 0s, transform .75s ease 0s, color .25s ease;
        height: min(140px, 20vw);
        padding: 24px 32px;
        margin: 0;
        display: flex;
        align-items: center;
        &:after {
          bottom: auto;
          top: calc(50% - 2px);
          left: 16px;
          width: 8px;
          height: 8px;
        }
      }
      &.is-open {
        transform: scaleY(1);
        transition: transform .75s ease 0s;
        & a {
          opacity: 1;
          transform: translate(0, 0);
          transition: opacity .75s ease .4s, transform .75s ease .4s, color .4s ease;
          &:nth-child(2) {
            transition-delay: .6s;
          }
          &:nth-child(3) {
            transition-delay: .8s;
          }
          &:nth-child(4) {
            transition-delay: 1s;
          }
        }
      }
    }
  }
</style>

<nav class:list={[attr.class]}>
  <a href="/" class:list={[(activePage === "" && 'is-active')]}><span>Home</span></a>
  <a href="/about" class:list={[(activePage === "about" && 'is-active')]}><span>About</span></a>
  <a
    href='/resume_lukas_oppermann_01.8.pdf'
    target='_blank'
    rel='noreferrer'
    data-splitbee-event="Downloaded Resume"
    data-splitbee-event-location="Main Navigation"
  ><span>Resume</span></a>
  <a href='/articles' class:list={[(activePage === "/articles" && 'is-active')]}><span>Writing</span></a>
  <a
    href={mailto}
    target='_blank'
    rel='noreferrer'
    data-splitbee-event="Contact"
    data-splitbee-event-location="Main Navigation"
  ><span>Contact</span></a>
</nav>