---
import type { HTMLAttributes } from 'astro/types';
import Button from "./Button.astro";
import Headline from "./Headline.astro";
import Icon from "./Icon.astro";
import Link from "./Link.astro";
import Paragraph from "./Paragraph.astro";

interface Props extends HTMLAttributes<'div'>{}


const { class: className, ...attr } = Astro.props;

---

<style>
.Container {
  margin-bottom: 96px;
  & .title {
    position: relative;
    grid-column: columns;
    @media (--min-tablet) {
      grid-row: 1;
      grid-column: column 1 / span 4;
    }
    & > :first-child {
      margin-bottom: 0;
    }
    &::before {
      position: absolute;
      content: "";
      width: 2px;
      height: 52px;
      background-color: var(--accent);
      top: 0;
      left: -12px;
    }
  }
  & .legal-text {
    grid-row: 3;
    grid-column: columns;
    margin-top: 32px;
    @media (--min-tablet) {
      margin-top: 0;
      grid-row: 2;
      grid-column: column 1 / span 4;
    }
  }
  & .medium-link {
    grid-row: 4;
    grid-column: columns;
    justify-self: self-start;
    align-self: start;
    @media (--min-tablet) {
      grid-row: 2;
      grid-column: columns / span 5;
    }
    @media (--min-desktop) {
      grid-column: columns / span 4;
    }
  }
  & .description {
    grid-column: columns;
    @media (--min-tablet) {
      grid-column: column 6 / span 7;
    }
    @media (--min-desktop) {
      grid-column: column 6 / span 5;
    }
  }
  & form {
    grid-row: 2;
    grid-column: columns;
    @media (--min-tablet) {
      grid-column: column 6 / span 7;
    }
    @media (--min-desktop) {
      grid-column: column 6 / span 5;
    }
  }
  & .input-container {
    width: 100%;
    position: relative;
    margin-right: 16px;
    display: flex;
    align-items: center;
    & input {
      width: calc(100% - 176px);
      position: relative;
      font: var(--typestyle__body);
      background: transparent;
      color: var(--on-background__high-emphasis);
      border: 0 solid var(--ui--medium-contrast);
      border-bottom-width: 1px;
      padding: 8px 140px 8px 36px;
      margin-bottom: 1px;
    }
    & input::placeholder {
      color: var(--on-background__medium-emphasis);
    }
    & input:focus {
      outline: none;
      border: 0 solid var(--accent);
      padding-bottom: 7px;
      border-bottom-width: 2px;
    }
    & label {
      margin-right: 12px;
      position: absolute;
      left: 0;
      color: var(--on-background__medium-emphasis);
      transition: color 1.25s var(--easeOutQuint);
    }
    & button {
      position: absolute;
      right: 0;
      z-index: 100;
    }
    &:hover {
      label {
        color: var(--on-background__high-emphasis);
      }
    }
  }
}
</style>

<div class:list={['Grid Container', className]} {...attr}>
  <div class="title">
    <Headline level="4" style="h5">Newsletter</Headline>
    <Headline style="h4">Stay in the loop</Headline>
  </div>
  <Link class="medium-link" style="ghost" icon href="https://lukasoppermann.medium.com/subscribe" target="_blank">Subscribe</Link>
  <Paragraph class="description" type="small">Subscribe to my medium page to be the first to know about new articles I publish.</Paragraph>
  <Paragraph class="description" type="small">I write about design with a focus on design systems and tokens.</Paragraph>
  <!-- <form action="https://www.getrevue.co/profile/lukasoppermann/add_subscriber" method="post" id="revue-form" name="revue-form" target="_blank" data-splitbee-event="Newsletter Signup">
    <div class="input-container">
      <label for="member_email"><Icon type="mail" /></label>
      <input class="revue-form-field" placeholder="your@email.com" type="email" name="member[email]" id="member_email" />
      <Button type="submit" style="ghost" icon>Subscribe</Button>
    </div>
  </form>
  <Paragraph class="legal-text" type="small">By subscribing, you agree with Revue&rsquo;s <Link target="_blank" href="https://www.getrevue.co/terms">Terms of Service</Link> and <Link target="_blank" href="https://www.getrevue.co/privacy">Privacy Policy</Link>.</Paragraph> -->
</div>