---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'p'> {
  type?: 'default' | 'small' | 'intro'
}

const { type, class: className, ...attr } = Astro.props;
---

<style>
  p {
    font: var(--typestyle__body);
    color: var(--on-background__medium-emphasis);
    margin-bottom: 8px;
    &.small {
      font: var(--typestyle__body--small);
    }
    &.intro {
      font: var(--typestyle__intro);
      color: var(--on-background__high-emphasis);
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
</style>
<p class:list={[className, type]} {...attr}>
  <slot />
</p>
