---
import type { HTMLAttributes } from 'astro/types';
import type { CollectionEntry } from 'astro:content';
import DateTime from './DateTime.astro';
import Headline from './Headline.astro';
import Icon from './Icon.astro';
import Paragraph from './Paragraph.astro';

export interface Props extends HTMLAttributes<'a'>{
  article: CollectionEntry<'articles'>['data']
}

const { article: {title, url, published, excerpt}, ...attr } = Astro.props
---
<style>
  a {
    color: var(--on-background__high-emphasis);
    display: block;
    & {
      :global(.date-time) {
        margin-bottom: 0;
        color: var(--on-background__low-emphasis);
        font-size: var(--font-size--caption);
        font-weight: var(--font-weight--bold);
      }
      :global(.svg-icon) {
        position: absolute;
        margin-top: 2px;
        margin-left: 8px;
        path {
          fill: var(--on-background__high-emphasis);
        }
      }
      .headline {
        margin-bottom: 0 !important;
      }
      :global(p) {
        margin-top: 4px;
      }
    }
  }
</style>

<a class:list={[attr.class]} target="_blank" rel="noreferrer" href={url}>
  <DateTime class="date-time" from={published} />
  <Headline level="3" class="headline">{title}<Icon class="svg-icon" type="arrowRight" /></Headline>
  <Paragraph>{excerpt}</Paragraph>
</a>